@charset "utf-8";
/* CSS Document */

body {
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	}
	
p {
	font-size:16px;
	}
		
p.footertext {
	font-size:11px;
	}
	
#maincontent {
	max-width:800px;
	margin:0 auto;
	margin-left:auto;
	margin-right:auto;
	}

#maincontent img {
	max-width: 100%;
}

.counterbutton {
	text-align:center;
	}
	
a {outline:0px;}

.counterbutton button {
	-webkit-appearance:none;
	box-shadow: none !important;
	outline: none;
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
	background: url('/static/button.jpg') no-repeat;
	background-position: 0 0;
	width: 221px;
	height: 225px;
	margin: 70px 0;
	cursor: pointer;
}
.counterbutton button:active {
	background-position: 0 -241px;
}