
<!DOCTYPE html>
<html>
<head>
  <title>Cluster Counter</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/static/counter.css" type="text/css" media="screen" />
  <script>
    {% if button %}
    function click_button() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
          document.getElementById("count").innerHTML = xhttp.responseText;
        }
      };
      xhttp.open("GET", "/increment/", true);
      xhttp.send();
    }
    {% endif %}
    function update() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
          document.getElementById("count").innerHTML = xhttp.responseText;
        }
      };
      xhttp.open("GET", "/query/", true);
      xhttp.send();
    }
    setInterval(update, 333);
  </script>
</head>
<body>
  <div id="maincontent" align="center">
    <h1 id="count">{{ count }}</h1>
    {% if button %}
    <h3>PRESS TO INCREMENT COUNTER</h3>
    <div class="counterbutton">
      <div>
	<button onclick="click_button()" id="counter-button"></button>
      </div>
    </div>
    {% else %}
    <h3>IS THE CURRENT COUNTER VALUE <br> GO TO GATES 3000 TO INCREMENT</h3>
    {% endif %}
  </div>
</body>
</html>
